<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<!--   
                Be who you are and say what you feel,
                because those who mind don't matter,
                and those who matter don't mind. 
				
                                    - Theodore Geisel
		-->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>The Storrs Odor Watch</title>
		
		<link rel="stylesheet" type="text/css" href="styles/blueprint/screen.css" media="screen,projection">
		<link rel="stylesheet" type="text/css" href="styles/blueprint/print.css" media="print">
		<!--[if IE]><link rel="stylesheet" type="text/css" href="styles/blueprint/ie.css" media="screen,projection"><![endif]-->
		<link rel="stylesheet" type="text/css" href="styles/default.css">
	</head>
	<body>
		<div id="banner_bg">
			<div class="container" id="banner">
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<div class="container">
			<div class="span-12 last">
				<hr />
				<p style="color: #999">
					Created by <a href="http://rockwellschrock.com/">Rockwell Schrock</a>, UConn class of 2010.
					Sadly, the Storrs Odor Watch is not affiliated with the University of Connecticut.
				</p>
			</div>			
		</div>
		<!-- Google analytics -->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-4760872-8");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>