<div class="span-12">
	<h1 class="hbi_header">Today's Horse Barn Index is <%= render '_partials/hbi_big.html.erb', :locals => { :sounding => @soundings.first } %></h1>
</div>

<div class="span-7">
	<h2>Ten-Day Forecast for Storrs, CT </h2>

	<% @soundings.each do |sounding| %>
		<%= render '_partials/hbi_small.html.erb', :locals => { :sounding => sounding } %>
	<% end %>

	<h2 style="clear:left; padding-top: 0.5em;">What is this index thing?</h2>
	<p>
		At the University of Connecticut, there is a hill. On this hill, there are several barns. And in these barns live multifarious beasts of the domestic variety. And these beasts produce poop. Lots of it.
	</p>
	<p>
		<strong>The Horse Barn Index (HBI) is a composite atmospheric parameter designed to express the likelihood that the Storrs campus will be inundated by stinky cow farts.</strong> It takes into account variables such as wind speed and direction, temperature, dew point, and the strength of the <a href="http://en.wikipedia.org/wiki/Inversion_%28meteorology%29">inversion layer</a> aloft. That being said, it's completely unscientific, unverified, and certainly not endorsed by the university.
	</p>
	<p>
		You might say it's just a bunch of B.S.
	</p>
</div>

<div class="span-5 last">
	<h2>Potential Risks</h2>
	<table border="0" class="rating">
		<tr>
			<th class="hbi_0">0</th>
			<td><strong>NONE</strong> &mdash; The cows actually absorb odors and freshen the air.</td>
		</tr>
		<tr>
			<th class="hbi_1">1</th>
			<td><strong>VERY LOW</strong> &mdash; High school seniors tour campus, clueless as usual. Puppies are born and unicorns soar through the crisp air.</td>
		</tr>
		<tr>
			<th class="hbi_2">2</th>
			<td><strong>LOW</strong> &mdash; Horses begin to resent cows. Dairy Bar patronage affected. Five-year-olds visiting the barns with families complain frequently.</td>
		</tr>
		<tr>
			<th class="hbi_3">3</th>
			<td><strong>MODERATE</strong> &mdash; Noticeable stench likely in parts of campus. Attack squirrels take cover. Police issue excessive parking tickets.</td>
		</tr>
		<tr>
			<th class="hbi_4">4</th>
			<td><strong>HIGH</strong> &mdash; Shirt collars placed over noses and mouths. Discernable haze of stink-rays. Lecture attendance down. Even the cows start to notice.</td>
		</tr>
		<tr>
			<th class="hbi_5">5</th>
			<td><strong>EXTREME</strong> &mdash; Freshmen venturing outside perish in seconds. Geese consider never returning. West Virginia scores again.</td>
		</tr>
	</table>
</div>