<% if sounding %>
	<div class="hbi_small hbi_<%= sounding.index %>">
		<div class="date"><%= hbi_small_date(sounding.valid_at) %></div>
		<div class="index"><%= sounding.index %></div>
		<div class="description"><%= hbi_description(sounding.index).upcase %></div>
	</div>
<% else %>
	<div class="hbi_small hbi_na">
		<div class="date"></div>
		<div class="index">N/A</div>
		<div class="description"></div>
	</div>
<% end %>